body {
    color: #555;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0px 80px;
    font-size: 15px;
    background: white;
}

.category {
    margin-bottom: 30px;
}


.category_title {
    margin-bottom: 20px;
    page-break-after: avoid;
}

.category_title h1 {
    font-size: 22px;
}

.category_title.level-0 h1 {
    font-size: 32px;
    color: white;
    margin: 0;

}

.category_title.level-0 {
    background: #222;
    padding: 10px 10px;
}

.category_title.level-1 h1 {
    font-size: 28px;
}

.category_title.level-2 h1 {
    font-size: 24px;
}

.product {
    margin-bottom: 30px;
}

.product_description p {
    text-align: justify;
}

.product .price {
    font-weight: bold;
}

.product .SKU {
    font-weight: normal;
}

h2.product_title {
    margin-top: 0;
    font-size: 20px;
}

.product_title a {
    color: #222;
}

@page {
    background: red;
}